.message {
    /*background-color: black;*/
    /*height: 100vh;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    margin: 10px;
    align-items: flex-end;
    /*прибить аватарку вниз*/
    display: flex;
}

.img {
    /*width: 80px;*/
    /*height: 80px;*/
    /*border-radius: 50%;*/
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*закругление*/
}

.invertedBorderRadius {
    /*position: relative;*/
    /*height: 65px;*/
    /*width: 225px;*/
    /*background-color: black;*/
    /*border-radius: 25px 25px 25px 0;*/
    padding: 10px;
    border-radius: 5px 5px 5px 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(255, 255, 255, 0.3) 0);
   /*1 параметр тип градиета круг и нач в координатах 0.0 верхний левый угол
   rgba все нули - прозрачный круг
   15 px радиус прозрачного круга
   tgba совпадает с контентом
   0 резкий переход без плавного перехода*/

}

/*.invertedBorderRadius::after {*/
/*    content: "";*/
/*    position: absolute;*/

/*    background-color: black;*/
/*    bottom: 0px;*/
/*    height: 10px;*/
/*    width: 25px;*/
/*    border-bottom-left-radius: 25px;*/
/*    box-shadow: -15px 0 0 0 #001f3f; !* This is where the magic happens! *!*/
/*}*/


/*.style {*/
/*    background: #007E3E; !* Цвет фона *!*/
/*    color: #fff; !* Цвет текста *!*/
/*    padding: 10px; !* Поля вокруг текста *!*/
/*    border-radius: 5px; !* Для современных браузеров *!*/
/*}*/

.messageText {
    /*color: greenyellow;*/
    /*text-indent: 10px;*/
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
    /*перенос текста на след строчку если длинный */
}

.nameText {
    /*text-indent: 10px;*/
    /*color: blueviolet;*/
    font-size: 20px;
    font-weight: bold;
    color: #bbffbb;
}
.timeText {
    /*text-indent: 180px;*/
    /*color: green;*/
    /*font-size: 11px;*/
    display: flex;
    justify-content: flex-end;
    color: #bbffbb;
}